:root {
    --billiard-green: #568f56;
    --nav-bg: rgba(0, 0, 0, 0.7);
    --text-light: #f1f1f1;
    --overlay-bg: rgba(0, 0, 0, 0.35);
    --hover-bg: rgba(86, 143, 86, 0.8);
    --shadow-color: rgba(0, 0, 0, 0.8);
}

.nav-user {
    animation: fadeInNav 1s ease;
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: var(--nav-bg);
    color: var(--text-light);
    padding: 1%;
    height: 100vh;
    box-shadow: 0 0 80px var(--shadow-color);
}

.nav-user-item {
    justify-content: center;
    display: flex;
    padding: 5% 2%;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    width: 100%;
    color: var(--text-light);
}

.nav-user-item:hover {
    background-color: var(--hover-bg);
}

.nav-user-item img {
    width: 30px;
}

.nav-user-links {
    height: 95%;
}

@media screen and (max-width: 960px) {
    .search-bar-overlay {
        top: 1% !important;
        left: 28% !important;
        width: 64vw !important;
    }

    .nav-user {
        width: 20%;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fadeInNav {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.search-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.search-toggle-button img {
    width: 24px;
    height: 24px;
}

.search-bar-overlay {
    position: fixed;
    top: 2%;
    left: 15%;
    width: 80vw;
    padding: 10px;
    background-color: var(--overlay-bg);
    border-radius: 10px;
    z-index: 1000;
    color: var(--text-light);
}

.user-search-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #222;
    color: var(--text-light);
}

.user-search-results {
    background: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--shadow-color);
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
}

.user-search-results li {
    color: var(--text-light);
    padding: 8px;
}

.user-search-results li:hover {
    background-color: var(--hover-bg);
}

.result-item a {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-light);
}

.result-item img {
    width: 30px;
    height: 30px;
}